<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0">
<dict>
<key>ADDomain</key>
<!-- Change to your domain -->
<string>hboe.org</string>
<key>AutoRenewCert</key>
<integer>30</integer>
<key>ChangePasswordOptions</key>
<!-- We use a password portal online for staff to change their passwords. If they click “Change Password” in NoMAD, it sends them there. -->
<string>https://password.hboe.org/</string>
<key>ChangePasswordType</key>
<string>URL</string>
<key>DontShowWelcome</key>
<true/>
<key>GetCertificateAutomatically</key>
<true/>
<key>GetHelpOptions</key>
<!-- Same idea as the password portal but this button sends them to our HelpDesk ticketing system. -->
<string>http://helpdesk.hboe.org</string>
<key>GetHelpType</key>
<string>URL</string>
<key>HideAbout</key>
<true/>
<key>HideExpiration</key>
<true/>
<key>HideExpirationMessage</key>
<!-- If you remove this value it will show them how many days before their AD password expires -->
<string>Hilliard City School District</string>
<key>HidePrefs</key>
<true/>
<key>HideQuit</key>
<true/>
<key>HideRenew</key>
<true/>
<key>IconOff</key>
<!-- These next Icon values allow you to customize the NoMAD icon. You would install the icons in a package from Jamf beforehand. Off means NoMAD is offline (can’t connect to AD). Big Sur does not care about dark mode or light mode icons and will automatically force the icon to be white or black. -->
<string>/Library/HCSD/HCSDoff.png</string>
<key>IconOffDark</key>
<string>/Library/HCSD/HCSDoff.png</string>
<key>IconOn</key>
<string>/Library/HCSD/HCSDon.png</string>
<key>IconOnDark</key>
<string>/Library/HCSD/HCSDon.png</string>
<key>KerberosRealm</key>
<string>HBOE.ORG</string>
<key>LocalPasswordSync</key>
<true/>
<!-- This value is to have NoMAD only check for a password mismatch if the AD username and the local account name are the same. Otherwise you could allow a user to use NoMAD to sync their AD password regardless of their local account name. -->
<key>LocalPasswordSyncOnMatchOnly</key>
<true/>
<key>MenuGetSoftware</key>
<string>Self Service</string>
<key>MenuHomeDirectory</key>
<string>Network Home</string>
<key>MessageNotConnected</key>
<string/>
<key>MessageUPCAlert</key>
<string>Your password has changed.</string>
<key>RenewTickets</key>
<true/>
<key>SecondsToRenew</key>
<integer>7200</integer>
<key>ShowHome</key>
<true/>
<key>UPCAlert</key>
<true/>
<key>UseKeychain</key>
<true/>
<key>UseKeychainPrompt</key>
<true/>
</dict> </plist>
